In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df = pd.DataFrame()
with open('./JNLPBAdump.pickle', 'rb') as f:
    df = df.append(pickle.load(f))
with open('./CDR/CDR_ivi.pkl', 'rb') as f:
    df = df.append(pickle.load(f))
with open('./CHEMDNER/CHEMDNER_ivi.pkl', 'rb') as f:
    df = df.append(pickle.load(f))
with open('./BioRED/BioRED_ivi.pkl', 'rb') as f:
    df = df.append(pickle.load(f))
with open('./NCBI/NCBI_ivi.pkl', 'rb') as f:
    df = df.append(pickle.load(f))
with open('./N2C2/n2c2_ivi.pkl', 'rb') as f:
    df = df.append(pickle.load(f).drop('index', axis=1))

In [3]:
df

,ids,cor,class,text,labels
0,1,JNLPBA,[DNA],"[IL-2, gene, expression, and, NF-kappa, B, act...","[1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
1,1,JNLPBA,[RNA],"[IL-2, gene, expression, and, NF-kappa, B, act...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2,1,JNLPBA,"[cell, line]","[IL-2, gene, expression, and, NF-kappa, B, act...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,1,JNLPBA,"[cell, type]","[IL-2, gene, expression, and, NF-kappa, B, act...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
4,1,JNLPBA,[protein],"[IL-2, gene, expression, and, NF-kappa, B, act...","[0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0]"
...,...,...,...,...,...
324754,324754,n2c2,[Form],"[Coronary, artery, disease, .]","[0, 0, 0, 0]"
324755,324755,n2c2,[Form],"[MAJOR, PROCEDURES, :, Intubation, .]","[0, 0, 0, 0, 0]"
324756,324756,n2c2,[Form],"[Arterial, line, .]","[0, 0, 0]"
324757,324757,n2c2,[Form],"[Central, line, .]","[0, 0, 0]"
324758,324758,n2c2,[Form],"[CONDITION, ON, DISCHARGE, :, Stable, at, resp...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [4]:
df['labels_sum'] = df.labels.apply(lambda lst: sum(lst))
df['klasa'] = df["class"].apply(lambda lst: ' '.join(lst))
df_hasones = df[df.labels_sum!=0]
df_onlyzeros = df[df.labels_sum==0]
df_new = pd.DataFrame()
for i in df_onlyzeros.klasa.unique():
    df_new = df_new.append(df_onlyzeros[df_onlyzeros.klasa == i].sample(frac = 0.7))
df_new = df_new.append(df_hasones)
df_new.drop(['labels_sum', 'klasa'], inplace=True, axis=1)
df_new = df_new.reset_index()
df_new

,index,ids,cor,class,text,labels
0,91171,18235,JNLPBA,[RNA],"[To, identify, the, requisite, bacterial, liga...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,26371,5275,JNLPBA,[RNA],"[Using, human, B-, or, T-cell, lines, transfec...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,48736,9748,JNLPBA,[RNA],"[Similarly, ,, the, Egr-1-expressing, Ramos, c...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3,41281,8257,JNLPBA,[RNA],"[A, loss-of-function, mutation, in, Cbl-b, dis...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,5516,1104,JNLPBA,[RNA],"[ISG15-LTR-IFN, hybrid, gene, inserted, into, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...,...,...,...
539147,324650,324650,n2c2,[Form],"[On, day, 14, of, his, hospital, stay, ,, all,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
539148,324656,324656,n2c2,[Form],"[His, medications, on, discharge, are, Nystati...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 0]"
539149,324745,324745,n2c2,[Form],"[Percocet, 1, to, 2, tablets, every, 4-6, hour...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0]"
539150,324750,324750,n2c2,[Form],"[Combivent, 2, puffs, every, six, hours, .]","[0, 0, 1, 0, 0, 0, 0]"
539151,324751,324751,n2c2,[Form],"[Flovent, 2, puffs, twice, a, day, .]","[0, 0, 1, 0, 0, 0, 0]"

In [5]:
df_new.to_pickle('./DataSet_ivi_70postoNula.pkl')